---
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="18 Dec 2016–28 Oct 2017" />
  <meta name="keywords" content="aurora, community, discord, server, da532, dnomaid, aerofusion, novus, netsky" />

  <meta property="og:description" content="18 Dec 2016–28 Oct 2017" />
  <meta property="og:image" content="/img/aurora.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@CommunityAurora" />
  <meta name="twitter:title" content="Aurora Community" />
  <meta name="twitter:description" content="18 Dec 2016–28 Oct 2017" />
  <meta name="twitter:image" content="/img/aurora.jpg" />

  <title>Aurora Community</title>

  <link href="https://fonts.googleapis.com/css?display=swap&family=Comfortaa%7CMontserrat%7CRoboto+Slab" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <link href="ta.css" rel="stylesheet">
</head>

<body>
  <div id="cover">
    <div id="aurora-logos"></div>
    <h1>Aurora Community</h1>
    <h2>18 Dec 2016&ndash;28 Oct 2017</h2>
    <h3>
      <a href="#messages" class="button">Read Sentiments <span class="arrow-down">&raquo;</span></a>
    </h3>
  </div>
  <div id="messages">
    <div id="messages-inner">
      <h1 style="border-bottom: none; text-align: center; font-size: 3em; margin-bottom: 64px;">Sentiments<!-- <span><a onclick="document.getElementById('music').setAttribute('src','https://www.youtube.com/embed/EOvMpND2OZY?autoplay=1')" style="cursor: pointer; background: none;"><i class="twa twa-play-button"></i></a></span>--></h1>

      {% for m in site.messages %}
        <div class="message" id="message-{{m.uname | slice: 0, 3}}">
          <h1><a href="#message-{{m.uname | slice: 0, 3}}">{%if m.rname%}<span>{{m.rname}}</span> {%endif%}{{m.uname}}</a></h1>
          {% assign quote = m.content | split: '¬' %}
          {% for part in quote %}
            {% comment %} If this is the second part of the quote, show the expando button and hide it{% endcomment %}
            {% if forloop.index > 1 %}
              <a onclick="show('{{m.uname | slice: 0, 3}}-expand-{{forloop.index}}'); this.style.display = 'none'" title="Click to expand this message" class="expando"><span class="arrow-down">&raquo;</span> Expand</a>
              <span id="{{m.uname | slice: 0, 3}}-expand-{{forloop.index}}" style="display: none;">
            {% endif %}

            {{ part }}

            {% if forloop.index > 1 %}
              </span>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

      <div style="margin-top: 64px; margin-bottom: 64px; text-align: center;">
	<h3>Thanks very much to everyone who submitted their message here or were just a part of Aurora in general. It's been a wonderful journey.</h3>
	<p style="text-align: right;">- Tom</p>
      </div>

      <h2 style="text-align: center; border-bottom: none;">Want your personal message here?</h2>
      <h3 style="margin-bottom: 64px; text-align: center;"><a href="https://github.com/AuroraCommunity/AuroraWebsite/issues/new?labels=Message&assignees=mrdnomaid&title=Message%20From%20XXXXXXX" class="button">Create an issue on GitHub</a></h3>
      <br>
      <p id="github">By <a href="https://tomr.me">tom</a>. Aurora branding by <a href="https://hadenfletcher.com/">Haden</a>. Feel free to submit a pull request on <a href="https://github.com/AuroraCommunity/AuroraWebsite">GitHub</a> if there's something wrong.<br>Code licensed under the <a href="LICENSE.md">GPL</a>. Quotes are property of their author; please don't copy them without their permission.</p>
    </div>
  </div>

  <script>
    function show(id) {
      document.getElementById(id).style.display = 'inline';
    }
  </script>
  <script src="smooth.js"></script>
</body>

</html>
