html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #6a006e;
  color: #eee;
  font-family: 'Roboto Slab', serif;
  padding-top: 5%;
  min-height: 100%;
  text-align: center;
  background-image: url('img/header.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

div#messages {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  min-height: 101%;
  background-color: #1d001e;
  text-align: left;
  font-family: 'Montserrat', 'Roboto', 'Helvetica', sans-serif;
}

div#messages h1 {
  text-align: right;
  border-bottom: 2px solid #6a006e;
  margin-top: 32px;
  margin-bottom: 3px;
}

div#messages p {
  margin-top: 1px;
  margin-bottom: 8px;
  line-height: 1.3em;
}

div#messages a {
  color: #eee;
}

div#messages h1 a {
  text-decoration: none;
}

div#messages h1 a:hover::before {
  content: '# ';
  font-family: monospace;
  font-size: 0.8em;
}

div#messages a:hover {
  text-decoration: none;
}

div#messages-inner {
  padding: 1.2em;
  max-width: 45em;
  margin: 0 auto;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  margin-bottom: 2px;
}

h1 span {
  opacity: 0.8;
  font-size: 0.7em;
}

h2 {
  margin-top: 2px;
}

div#aurora-logos {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: cover;
  margin: 0 auto;
  transition: all ease 0.7s;
  border: 1px solid #ccc;
  background-image: url('img/aurora.jpg');
}

div#aurora-logos:hover {
  transform: scale(1.1) rotate(360deg);
  background-image: url('img/aurora-retro.jpg');
}

.arrow-down {
  transform: rotate(90deg); display: inline-block; position: relative; top: 2px; left: 2px;"
}

a {
  cursor: pointer;
  transition: all 0.3s;
}

a.button {
  display: inline-block;
  background-color: #cdcdcd;
  color: #64016b !important;
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

a.button.discord {
  margin-bottom: 4px;
}

a.button:hover {
  background-color: #eee;
}

a.expando {
  display: block;
  width: 100%;
  text-align: center;
    background-color: #29002a;
  border-radius: 2px;
}

a.expando:hover {
  background-color: #430045;
}

p#github {
  margin-top: 32px;
  opacity: 0.6;
  font-size: 0.7em;
  background-color: rgba(100, 1, 107, 0.3);
  padding: 8px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: default;
}

p#github:hover {
  background-color: rgba(100, 1, 107, 0.8);
  opacity: 1;
}

p#github a {
  color: #cbcbcb;
}

@media screen and (max-width: 50em) {
  a.button {
    width: 90%;
    margin-top: 8px;
  }
}

@media screen and (min-width: 50em) {
  a.button:first-of-type {
    margin-right: 8px;
  }
  a.button:last-of-type {
    margin-left: 8px;
  }
}
