<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link href="img/aurora.jpg" rel="shortcut icon" type="img/png" />

  <!-- Meta -->
  <meta name="description" content="A Discord community proud to have over 3,000 members." />
  <meta name="keywords" content="aurora, community, discord, website, site, da532, devon, scammer.info, thunder tech" />
  <!-- Open Graph  -->
  <meta property="og:description" content="A Discord community proud to have over 3,000 members." />
  <meta property="og:image" content="img/aurora.jpg" />

  <link href="style/frameworks/bulma.css" rel="stylesheet" .>
  <link href="style/main.min.css" rel="stylesheet" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@CommunityAurora" />
  <meta name="twitter:title" content="Aurora Community" />
  <meta name="twitter:description" content="A Discord community proud to have over 3,000 members." />
  <meta name="twitter:image" content="img/aurora.jpg" />

  <title>{% if page.title %}{{ page.title }} &lsaquo; {% endif %}Aurora Community</title>
</head>

<body>

  {{ content }}

  <noscript id="deferred-styles">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </noscript>
  <script>
    var loadDeferredStyles = function () {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
    if(raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>
</body>

</html>